# GitHub Personal Access Token (public_repo scope)
GITHUB_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxx

# Projects CE Token
PROJECTS_CE_TOKEN=

# Google Analytics Service Account Key (JSON)
GA_SERVICE_ACCOUNT_KEY=
